.sidenav {
  height: 100%;
  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(241, 241, 241);
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}
#menu_button{
  background-color: transparent;
  border-color: transparent;
  color: black;
  font-size: 2em;
}
.dropdown-container {

 text-decoration: none;
 font-size: 1.5vw;
 color:black;
 display: none;  
 background-color: transparent;

}

/* Optional: Style the caret down icon */
.pi-caret-down {
  color: black;
  font-size: 15px;
  padding-left: 5px;
}
.sidenav .menu a{
 padding-top: 20px;
 padding-bottom: 20px;
 text-decoration: none;
 font-size: 1.5vw;
 color:black;
 display: block;  
 cursor: pointer;
}
.menu{
  margin-top: 30px;
}
.sidenav .menu a.active-link{
  background-color:rgb(5, 28, 129);
  color: gold;
}
.sidenav .menu a:hover {
  color:rgb(161, 137, 0);
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav .menu a {font-size: 18px;}
}