<div class="row">
  <div class="col-sm-12" id="card">
    <div class="container text-center">

      <input type="text" pInputText placeholder="Chercher" class="text-center" [(ngModel)]="search_utilisateur"
        (input)="search_utilisateur_name()" id="search">
      <br> <br>

      <p-table [value]="utilisateur" [paginator]="true" [rows]="8" [rowsPerPageOptions]="[8,16,24,32,40]"
        totalRecords="utilisateur.length" pageLinks="3">
        <ng-template pTemplate="header">
          <tr>
            <th>NOM</th>
            <th>PRÉNOM</th>
            <th>TYPE</th>
            <th>STRUCTURE</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-utilisateur let-rowData>
          <tr>
            <td>{{utilisateur.nom}}</td>
            <td>{{utilisateur.prenom}}</td>
            <td>{{utilisateur.type}}</td>
            <td>{{utilisateur.structure.nom }} </td> 

            <td>
              <p-button icon="pi pi-user-edit" iconPos="left" styleClass="ui-button-warning"
                (click)="showDialog_edit(utilisateur)">
              </p-button> &nbsp;
              <p-button icon="pi pi-times" styleClass="ui-button-danger " (click)="delete_utilisateur(utilisateur.id)">
              </p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
          <div style="text-align:left">
            <button type="button" pButton icon="pi pi-plus" (click)="showDialog_add()" label="Ajouter"></button>
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!--------------------------------------Edit form pop-Up--------------------------------/-->
<p-dialog header="Modifier l'utilisateur" [(visible)]="display_edit" styleClass="mydialog" ngNativeValidate>
  <div class="container text-center">

    <form #utilisateuredit="ngForm" (ngSubmit)="edit_utilisateur(utilisateuredit)">
      <div class="form-group">
        <input class="form-control" required type="text" name="nom" ngModel [(ngModel)]="nom" class="form-control">
       
      </div>
      <div class="form-group">
        <input class="form-control" required type="text" name="prenom" ngModel [(ngModel)]="prenom">
      </div>
      <div class="form-group">
        <select [(ngModel)]="type" required ngModel name="type">
          <option value="">Selectionner un type </option>
          <option [ngValue]="item" *ngFor="let item of types"> {{item}} </option>
        </select>
      </div>
      <div class="form-group"> 
        <select [(ngModel)]="value" ngModel required name="value">
        <ng-template  ngFor let-item [ngForOf]="structure" let-i="index">
            <option   [ngValue]="item" > {{item.nom}} </option>
        </ng-template>
        </select>
      </div>
     
      <div class="form-group">
        <p-button label="Modifier" styleClass=" ui-button-rounded " type="submit"></p-button>
      </div>
    </form>
  </div>

</p-dialog>
<!------------------------------------END Edit form pop-Up---------------------------------->

<!-------------------------------------- ADD form pop-Up-------------------------------------->

<p-dialog header="Ajouter un utilisateur" [(visible)]="display_add" styleClass="mydialog2">
  <div class="container text-center">

    <form #utilisateuradd="ngForm" (ngSubmit)="add_utilisateur(utilisateuradd)" ngNativeValidate>
      <div class="form-group">
        <input class="form-control" required placeholder="NOM" type="text" name="nom" ngModel>
      </div>
      <div class="form-group">
        <input class="form-control" required placeholder="PRENOM" type="text" name="prenom" ngModel>
      </div>
      <div class="form-group">
        <select ngModel name="type" required>
          <option value="">Selectionner un type </option>
          <option value="Auditeur_interne">Auditeur Interne</option>
          <option value="Responsable_audit">Responsable d'audit</option>
          <option value="Responsable_opérationel">Responsable opérationel</option>
        </select>
      </div>
      <div class="form-group">
        <select ngModel name="value" required>
          <option [ngValue]="item" *ngFor="let item of structure"> {{item.nom}} </option>
        </select>
      </div>

      <div class="form-group">
        <p-button label="Ajouter" styleClass=" ui-button-rounded " type="submit"></p-button>
      </div>
    </form>
  </div>

</p-dialog>
<!--------------------------------------END ADD form pop-Up-------------------------------->
<!----------------------------------------- NO RECORDS DIALOGUE---------------------------------------->
<p-dialog header="ALERT" [(visible)]="displaynorecords" [style]="{width: '50vw'}" [baseZIndex]="10000" position="top">
  Aucun utilisateur n'a été trouvé !!!
  <p-footer>
    <button type="button" (click)="getall()" pButton icon="pi pi-times" (click)="displaynorecords=false" label="OK"
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
<!---------------------------------------------connot delete record------------------------------------------------------------->
<p-dialog header="ALERT" [(visible)]="displaydelete" [style]="{width: '50vw'}" [baseZIndex]="10000" position="top">
  Cet utilisateur est lié à une mission ou une recommendation !!!!!
  <p-footer>
    <button type="button" (click)="getall()" pButton icon="pi pi-times" (click)="displaydelete=false" label="OK"
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
